<div class="login-container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="container-left">
      <label for="email">Email</label>
      <input name="email" type="email" ngModel required>
    </div>
    <div class="container-left">
      <label for="password">Password</label>
      <input name="password" type="password" ngModel required>
    </div>
    <div class="container-right">        
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>