label {
  display: block;
  margin-bottom: 5px;
}

button {
  width: 100px;
  margin: 0px;
}

button:disabled {
  background-color: #C7C7C7;
  cursor: not-allowed;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.login-container {
  margin: 100px 20px 20px 20px;
  display: inline-block;
  width: 300px;
}

.container-left {
  text-align: left;
  margin-bottom: 20px;
}

.container-right {
  text-align: right;
  margin-bottom: 20px;
}

.error-text {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}