<div class="login-container">            
    <h2>Register</h2>        
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
        <div class="container-left">
            <label for="email">Email</label>
            <input
                name="email"
                type="email"
                formControlName="email"
                [formGroup]="registerForm"
                minlength="5"
                required>
            <div *ngIf="registerForm.controls['email']?.invalid && (registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched)" class="error">
                <p *ngIf="registerForm.controls['email']?.errors?.required" class="error-text">
                    Email is required
                </p>
                <p *ngIf="registerForm.controls['email']?.errors?.minlength" class="error-text">
                    Email requires 5 characters
                </p>
            </div>
            
        </div>
        <div class="container-left">
            <label for="password">Password</label>
            <input
                name="password"
                type="password"
                formControlName="password"
                [formGroup]="registerForm"
                minlength="4"
                required>
            <div *ngIf="registerForm.controls['password']?.invalid && (registerForm.controls['password']?.dirty || registerForm.controls['password']?.touched)" class="error">
                <p *ngIf="registerForm.controls['password']?.errors?.required" class="error-text">
                    Password is required
                </p>
                <p *ngIf="registerForm.controls['password']?.errors?.minlength" class="error-text">
                    Password requires 4 characters
                </p>
            </div>
        </div>
        <div class="container-left">
            <label for="confirmPassword">Confirm Password</label>
            <input
                name="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                [formGroup]="registerForm"
                required>
            <div *ngIf="registerForm.controls['confirmPassword']?.invalid && (registerForm.controls['confirmPassword']?.dirty || registerForm.controls['confirmPassword']?.touched)" class="error">
                <p *ngIf="registerForm.controls['confirmPassword']?.errors?.required" class="error-text">
                    Please confirm password
                </p>
                <p *ngIf="registerForm.controls['confirmPassword']?.errors?.matchOther" class="error-text">
                    Passwords must match
                </p>
            </div>
        </div>
        <div class="container-left">
            <label for="firstname">First name</label>
            <input
                name="firstname"
                type="text"
                formControlName="firstname"
                [formGroup]="registerForm"
                minlength="2"
                required>
            <div *ngIf="registerForm.controls['firstname']?.invalid && (registerForm.controls['firstname']?.dirty || registerForm.controls['firstname']?.touched)" class="error">
                <p *ngIf="registerForm.controls['firstname']?.errors?.required" class="error-text">
                    First name is required
                </p>
                <p *ngIf="registerForm.controls['firstname']?.errors?.minlength" class="error-text">
                    First name requires 2 characters
                </p>
            </div>
        </div>
        <div class="container-left">
            <label for="lastname">Last name</label>
            <input
                name="lastname"
                type="text"
                formControlName="lastname"
                [formGroup]="registerForm"
                minlength="2"
                required>
            <div *ngIf="registerForm.controls['lastname']?.invalid && (registerForm.controls['lastname']?.dirty || registerForm.controls['lastname']?.touched)" class="error">
                <p *ngIf="registerForm.controls['lastname']?.errors?.required" class="error-text">
                    Last name is required
                </p>
                <p *ngIf="registerForm.controls['lastname']?.errors?.minlength" class="error-text">
                    Last name requires 2 characters
                </p>
            </div>
    
        </div>
        <div class="container-right">
            <button type="submit" [disabled]="!registerForm.valid || submitted">Register</button>
        </div>
    </form>
  </div>