<div class="site">
  <div class="header">
    <a href="/"><img src="/assets/placeholder-sample-logo.png"></a>
    <input type="text" name="search">
    <button type="submit">Search</button>
    <a routerLink="/login" *ngIf="!userService.userIsLoggedIn">Login</a>
    <a routerLink="/register" *ngIf="!userService.userIsLoggedIn">Register</a>
    <a (click)="logout()" *ngIf="userService.userIsLoggedIn">Logout</a>
    <a routerLink="/cart">{{productService.cart.length}} Cart</a>
  </div>
  <div class="navbar">
    <a [routerLink]="['/products/category/belgians']">Belgians</a> - 
    <a [routerLink]="['/products/category/ipas']">IPAs</a> - 
    <a [routerLink]="['/products/category/sours']">Sours</a> - 
    <a [routerLink]="['/products/category/ciders']">Ciders</a> - 
    <a [routerLink]="['/products/category/ales']">Ales</a>
  </div>
  <div class="main">
    <router-outlet></router-outlet>      
  </div>
  <div class="footer">
    <a href="#">Contact</a> <a href="#">About</a>
  </div>
</div>