<div class="site">
  <header class="header"></header>
  <div class="navbar">
    <a class="category-link" [routerLink]="['/products/category/belgians']">Belgians</a>
    <a class="category-link" [routerLink]="['/products/category/ipas']">IPAs</a>
    <a class="category-link" [routerLink]="['/products/category/sours']">Sours</a>
    <a class="category-link" [routerLink]="['/products/category/ciders']">Ciders</a>
    <a class="category-link" [routerLink]="['/products/category/ales']">Ales</a>
  </div>
  <div class="main">
    <router-outlet></router-outlet>      
  </div>
  <div class="footer">
    <div class="footer-right">
      <a class="footer-link" href="#">Contact</a>
      <a class="footer-link" href="#">About</a>
    </div>
  </div>
</div>