a {
  color: #474747;  
  text-decoration: none;
  cursor: pointer;  
}

a:hover {
  color: #353535;  
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}