<a routerLink="/"><img class="logo" src="/assets/logo.png"></a>
<div class="search">
  <form (ngSubmit)="search()" #searchForm="ngForm" novalidate>
    <input class="search-input" [(ngModel)]="searchString" type="text" name="search" pattern="[a-zA-Z0-9 ]+" required><!--
    --><button [disabled]="!searchString || !searchForm.valid" type="submit" class="search-button">Search</button>
  </form>
</div>
<div class="auth-container">
  <button class="auth-buttons"routerLink="/register" *ngIf="!userService.userIsLoggedIn">Register</button>
  <button class="auth-buttons" routerLink="/login" *ngIf="!userService.userIsLoggedIn">Login</button>
  <button class="auth-buttons" (click)="logout()" *ngIf="userService.userIsLoggedIn">Logout</button>
</div>
<div *ngIf="userService.userIsLoggedIn" class="profile-container dropdown">
    <object type="image/svg+xml" data="/assets/user.svg" class="profile"></object>
    <div class="dropdown-content">
      <p><a routerLink="/order-history">Order History</a></p>
      <p><a routerLink="/edit-address">Edit Address</a></p>
    </div>
</div>
<div routerLink="/cart" class="cart-container">
  <span class="cart-count">{{productService.cart.length}}</span>
  <object type="image/svg+xml" data="/assets/shopping-cart.svg" class="cart"></object>
</div>