.logo {
  width: 100px;
  grid-column-start: 1;
  align-self: center;
}

.profile {
  height: 27px;
  pointer-events: none;  
}

.profile-container,
.cart-container {
  display: grid;
  position: relative;
  align-self: center;
  cursor: pointer;
}

.cart-container {
  justify-self: left;  
}

.cart {
  width: 30px;
  pointer-events: none;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: #F07200;
  border-radius: 10%;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  /* min-width: 10px; */
  padding: 2px 7px 2px 7px;
}

.profile-container {
  justify-self: center;  
}

.search-button {
  font-size: 14px;
  margin-left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 10px;
  background-color: #F07200;
  color: white;
  box-shadow: none;
  height: 33px;
  /* border-top: 1px #AFAFAF solid;
  border-bottom: 1px #AFAFAF solid;
  border-left: 0px;
  border-right: 1px #AFAFAF solid; */
  outline: none;
}

.search-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 70%;
  max-width: 300px;
}

.search {
  display: inline-block;
  align-self: center;
  text-align: right;
  min-width: 265px;
  /* margin-left: 100px; */
  /* max-width: 370px; */
  /* width: 300px; */
}

.auth-container {
  display: inline-block;
  text-align: right;
  align-self: center;
}

@media only screen and (max-width: 800px)  {
  .search {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;    
  }

  .auth-container {
    grid-column-start: 2;    
  }

  .profile-container {
    grid-column-start: 3;
  }  

  .cart-container {
    grid-column-start: 4;
  }  
}

@media only screen and (min-width: 800px)  {
  .auth-container {
    grid-column-start: 3;    
  }

  .profile-container {
    grid-column-start: 4;
  }  
  
  .cart-container {
    grid-column-start: 5;
  }  
}