button:disabled {
  background-color: #C7C7C7;
  cursor: not-allowed;
}

label {
  display: block;
  margin-bottom: 5px;
}

.product-display-image {
  width: 400px;
}

.product-name,
.product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-details {
  text-align: left;
}

.add-button {
  margin: 0px;
  width: 200px;
}

.quantity-selector {
    font-size: 16px;
    height: 29px;
}

@media only screen and (max-width: 800px)  {
  .product-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 20px;
  }
  
  .product-display-left {
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
    text-align: right;
    max-width: 400px;
  }
  
  .product-display-right {
    grid-row-start: 2;
    justify-self: center;
    max-width: 400px;
    width: 100%;
    text-align: left;
  }

  .product-display-image {
    width: 100%;
  }
}

@media only screen and (min-width: 800px)  {
  .product-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px;
  }
  
  .product-display-left {
    grid-column-start: 1;
    align-self: center;
    justify-self: right;
    text-align: right;
    width: 400px;
  }
  
  .product-display-right {
    margin-left: 20px;
    grid-column-start: 2;
    justify-self: left;
    text-align: left;
  }
}