.product-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px;
}

.product-display-left {
  grid-column-start: 1;
  align-self: center;
  justify-self: right;
}

.product-display-right {
  margin-left: 20px;
  grid-column-start: 2;
  /* align-self: top; */
  justify-self: left;
}

.product-display-image {
  width: 400px;
}