* {
  box-sizing: border-box;
  outline: none;
  font-family: "Calibri";
}

html {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

button {
  font-size: 14px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 10px;
  background-color: #F07200;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

select {
  font-size: 16px;
  height: 29px;
}

input {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  border-right: none;
  outline: none;
  width: 300px;
}

@media only screen and (max-width: 800px)  {
  .site {  
    height: 100vh;
    position: relative;
    overflow-y: scroll;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-rows: 150px 44px auto 60px;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100px auto 60px 60px;
    grid-area: header;
    background-color: white;
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 800px)  {
  .site {  
    height: 100vh;
    position: relative;
    overflow-y: scroll;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "footer footer";
    grid-template-rows: 75px 44px auto 60px;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px auto auto 60px 80px;
    grid-area: header;
    background-color: white;
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}



.navbar {
  grid-area: nav;
  padding: 10px;
  margin-bottom: 1px;
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.main {
  grid-area: main;
  background-color: #EEE8E2;
  height: auto;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: footer;
  border-top: 1px solid #AFAFAF;
  background-color: #EEE8E2;
}

.footer-right {
  grid-column-start: 2;
  margin: 10px 10px;
  align-self: center;
  text-align: right;
}

.footer-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.product-price, .product-name {
  margin: 5px 2px 0px 2px;
  text-align: left;
  color: #474747;
}

.product-price {
  font-weight: bold;
}

.product-link {
  text-decoration: none;
}

.category-link {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  color: #AFAFAF
}

.category-link:hover {
  color: #727272;
  text-decoration: underline;
}