* {
  box-sizing: border-box;
  outline: none;  
}

html {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

button {
  font-size: 14px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 10px;
  background-color: #F07200;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

select {
  font-size: 16px;
  height: 29px;
}

input {
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  border-right: none;
  outline: none;
  width: 300px;
}

.site {  
  height: 100vh;
  position: relative;
  overflow-y: scroll;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  grid-template-rows: 75px 44px 1fr 60px;
  /* margin: 0px 10px 0px 10px; */
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-area: header;
  background-color: white;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.logo {
  width: 100px;
  grid-column-start: 1;
  align-self: center;
}

.navbar {
  grid-area: nav;
  /* background-color: green; */
  padding: 10px;
  margin-bottom: 1px;
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.main {
  grid-area: main;
  background-color: #EEE8E2;
  height: auto;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: footer;
  border-top: 1px solid #AFAFAF;
  background-color: #EEE8E2;
}

.footer-right {
  grid-column-start: 2;
  margin: 10px 10px;
  align-self: center;
  text-align: right;
}

.footer-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.product-highlights {
  display: inline-block;
  width: 100%;
  /* border: 1px solid orange; */
  text-align: center;  
}

.product-list {
  display: inline-block;
  /* border: 1px solid orange; */
  text-align: center;
  margin: 10px;
  /* width: 100%; */
}

.product {
  display: inline-block;
  min-height: 100px;
  min-width: 100px;
  /* border: 1px solid black; */
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product:hover .product-image {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);  
}

.product-image {
  height: 200px;
  width: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-price, .product-name {
  /* float: right; */
  /* padding-right: 10px; */
  margin: 5px 2px 0px 2px;
  text-align: left;
  color: #474747;
}

.product-price {
  font-weight: bold;
}

.product-link {
  text-decoration: none;
}
/* .product-link:hover {
} */

.highlights-banner {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  display: inline-block;
  align-self: center;
  padding-left: 100px;
}

.search-button {
  font-size: 14px;
  margin-left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 10px;
  background-color: #F07200;
  color: white;
  box-shadow: none;
  border: 1px black solid;
  outline: none;
}

.auth-container {
  display: inline-block;
  grid-column-start: 3;
  text-align: right;
  align-self: center;
}

.search-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cart {
  width: 30px;
  pointer-events: none;
}

.cart-container {
  display: grid;
  position: relative;
  grid-column-start: 4;
  text-align: center;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: #F07200;
  border-radius: 10%;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  /* min-width: 10px; */
  padding: 2px 7px 2px 7px;
}

.category-link {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  color: #AFAFAF
}

.category-link:hover {
  color: #727272;
  text-decoration: underline;
}